body {
    font-family: Verdana, Helvetica, sans-serif;
    background-image: url(bg_home.gif);
    margin-left:20px;
    color: #231F20;
    font-size: 11px;
    padding: 0px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#content {
    width: 759px;
    font-size: 14px;
    background-color: #FFF;
    text-align: left;
    margin: 0 auto;
    padding: 10
}

div.tinput  {
    vertical-align:middle;
    padding:0;
    margin:0;
}



p.p1 { width:700px;font-size:200% }

p.p2 { width:700px;font-size:120% }

p.p3 { width:700px;font-size:100% }

p.p3 { vertical-align:middle }

textarea.t1 { vertical-align:middle }



#form1 label{
display:block;
font-weight:bold;
text-align:right;
width:180px;
float:left;
}



div.login {
    border: 1px solid #647087;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    width: 759px;
    margin-top: 0px;
    margin-bottom: 0px;
    magin-left: 0px;
    clear: both;
}


div.outer {
    border: 1px solid #647087;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 0px;
    width: 746px;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
}


div.question-outer {
    border: 0px solid #647087;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 0px;
    width: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
}

div.title {
    border: 1px solid #647087;
    background-color: #647087;
    color: #fff;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    padding: 5px;
    margin-top: 0em;
    clear: both;
}

div.question {
    background-color: #fff;
    color: #000;
    font-weight: normal;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0em;
    border-bottom: 0px;
    clear: both;
}

textarea.taw { 
    width:700px; 
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
} 

div.table1 {
    background-color: #fff;
    padding: 0px;
    margin-top: 0em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    clear: both;
}

table.hor-minimalist-b
{
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        background: #fff;
        margin: 5px;
        margin-bottom: 7px;
	margin-top: 0px;
        width: 720px;
        border-collapse: collapse;
        text-align: left;
}
table.hor-minimalist-b th
{
        font-size: 14px;
        font-weight: strong;
        color: #000;
        padding: 8px 6px;
        border-bottom: 2px solid #000000;
}
table.hor-minimalist-b tr
{
        border-top: 0;
        color: #000;
        padding: 6px 8px;
}
table.hor-minimalist-b tr:first-child td
{
        border-top: 0;
        color: #000;
        padding: 6px 8px;
}
table.hor-minimalist-b td
{
        border-bottom: thin solid #647087;
        padding: 6px 8px;
}
table.hor-minimalist-b tr:last-child td
{
        border-bottom: 0;
        color: #000;
        padding: 6px 8px;
}
